html, body {
    height: 100%;
    margin: 0; 
    font-family: Arial, sans-serif; 
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    height: 100vh;          
}


#nameInput {
    padding: 10px;
    font-size: 16px;
    width: 250px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#nameInput:focus {
    border-color: #4CAF50;
    outline: none;
}

.start {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.start:hover {
    background-color: #45a049;
}
