
body{
    display: flex;
    margin:0;
    justify-content: center;
    align-items: center;
    height:100vh;
}
  
  .main{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
  }
  .subsquare {
    flex: 1 1 30%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.insideblocks {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  aspect-ratio: 1;
  overflow: hidden;
  text-overflow: clip;
  background: rgb(211, 245, 130);
  flex: 1 1 30%;
  margin: 0;
}

  
  @media (orientation: landscape) {
    
    .main{
       height:100vh;
       width:100vh;
       border: .3vh solid black;
    }
    .subsquare{
      border: .3vh solid black;
    }
    .insideblocks{
      border: .03vh solid black;
      font-size: 5vh;
    }

  }
  
  @media (orientation: portrait) {
    
    .main{
        width:100vw;
        height:100vw;
        border: .3vw solid black;
    }
    .subsquare{
      border: .3vw solid black;
    }
    .insideblocks{
      border: .03vw solid black;
      font-size: 5vw;
    }

  }
